
.wrapper {
  height: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "sidebar main";
  grid-template-columns: 104px 1fr;
}

body {
  font-feature-settings: "pnum" on, "lnum" on;
  font-family: 'AlegreyaSans';
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 130%;
  color: var(--base-black);
}

.sidebar {
  background-color: var(--side-color);
  max-width: 104px;
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-area: sidebar;
}

.sidebar__btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.sidebar__btn span {
  height: 3px;
  width: 20px;
  background-color: var(--base-black);
  display: block;
}

.sidebar__btn::after,
.sidebar__btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 20px;
  height: 3px;
  background-color: var(--base-black);
}

.sidebar__btn::after {
  top: 0;
}

.sidebar__btn::before {
  bottom: 0;
}

.menu__item,
.social__item {
  margin-bottom: 40px;
}

.menu__item:last-child,
.social__item:last-child {
  margin-bottom: 0px;
}

.header {
  position: fixed;
  left: 104px;
  right: 0;
  top: 0;
  background-color: transparent;
  z-index: 1;
}

.header__container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header__container-rside {
  display: flex;
  align-items: center;
}

.main {
  grid-area: main;
  position: relative;
}

.first-screen {
  background-image: url("../public/images/first-screen.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.first-screen__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  max-width: 530px;
  margin-bottom: 35px;
}

.first-screen__content {
  padding: 40px;
}

.first-screen__title {
  font-size: calc(28px + 85* ((100vw - 320px) / 1600));
  line-height: 102%;
  text-transform: uppercase;
  max-width: 595px;
  margin-bottom: 35px;
}

.header__contacts {
  margin-right: 120px;
}

.header__contacts-item {
  display: block;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.06em;
  color: var(--base-black);
  margin-bottom: 10px;
  padding-left: 26px;
  position: relative;
}

.header__contacts-item span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 12px;
}

.header__contacts-item:last-child {
  margin-bottom: 0px;
}

.head {
  height: 180px;
  background-color: #FCFF62;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.services__grid {
  padding: 80px 80px 50px 80px;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.services__item {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.services__item:first-child::before {
  display: none;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--side-color);
}

.services__item-lside {
  max-width: 750px;
  width: 100%;
}

.services__item-title {
  font-size: calc(18px + 8 * ((100vw - 320px) / 1600));
  line-height: 104%;
  letter-spacing: 0.06em;
  font-weight: 700;
  margin-bottom: 20px;
}

.services__item-text {
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.services__item-info-item {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 130%;
  font-weight: 800;
  letter-spacing: 0.04em;
}

.services__item-term {
  margin-right: 40px;
}

.carousel {
  width: 100%;
  padding: 80px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.categories__title {
  color: rgb(77, 55, 102);
  font-size: 28px;
  position: absolute;
  padding-left: 30px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(rgba(0, 0, 0, 0.9)),
          to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details--subtitle {
  font-size: 14px;
}

.carousel-item__details--title {
  margin-bottom: 10px;
}

.carousel-item__details--title,
.carousel-item__details--subtitle {
  color: #fff;
  font-weight: 700;
  line-height: 104%;
}

