@font-face {
  font-family: 'AlegreyaSans';
  src: url(fonts/AlegreyaSans-Black.woff2) format('woff2'),
  url(fonts/AlegreyaSans-Black.woff) format('woff'),
  url(fonts/AlegreyaSans-Black.ttf) format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url(fonts/AlegreyaSans-ExtraBold.woff2) format('woff2'),
  url(fonts/AlegreyaSans-ExtraBold.woff) format('woff'),
  url(fonts/AlegreyaSans-ExtraBold.ttf) format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url(fonts/AlegreyaSans-Bold.woff2) format('woff2'),
  url(fonts/AlegreyaSans-Bold.woff) format('woff'),
  url(fonts/AlegreyaSans-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url(fonts/AlegreyaSans-Regular.woff2) format('woff2'),
  url(fonts/AlegreyaSans-Regular.woff) format('woff'),
  url(fonts/AlegreyaSans-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-white: #fff;
  --base-black: #524151;
  --secondary-color: #D3FF57;
  --minor-color: #FF5038;
  --side-color: #F5F5F5;
}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 20px 60px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: var(--base-white);
  background-color: var(--minor-color);
  letter-spacing: 0.1em;
  font-weight: 800;
  font-size: 18px;
  transition: all .2s ease-in-out;
}

.btn--red {
  background-color: var(--minor-color);
}

.btn--gray {
  background-color: var(--side-color);
  color: var(--base-black);
}




